/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} */


/* START ACTUAL CSS */
/* Write your CSS here! */
:root {
    --art1Color: rgb(128, 61, 61);
    --art1Color-opacity: rgb(128, 61, 61, .6);
    --art2Color: rgb(102, 99, 50);
    --art3Color: darkslategrey;
}

body {
    margin: 8px;
    padding: 0;
    border: 0;
    display: block;
    color: tan;
    /* background-color: darkolivegreen; */
    background-color: black;
    background-repeat: no-repeat;
    font-family: 'Baloo 2', cursive;
}

#headerImg {
    /* background-color: black; */
    width: min(60%, 400px);
    position: absolute;
    right: 8px;
    box-shadow: none;
}

#headerImg:hover {
    transform: scale(1.5);
}

h1 {
    font-size: 10vmin;
    line-height: 0.5;
    padding: 5vmin 0 3vmin 0;
    width: 60%;
}

#mainHeadingDisplayed {
    color: rgb(45, 182, 182);
    text-shadow: 2px 2px 75px antiquewhite;
    padding: 5vmin 0 3vmin 0;
    opacity: 70%;
}

#mainHeading {
    color: red;
    text-shadow: 1px 1px 3px tan;
    padding: 5vmin 0 3vmin 0;
    opacity: 70%;
    display: none;
}

#submain {
    line-height: 1;
    font-size: 6vmin;
    font-style: italic;
    padding: 3vmin 0 3vmin 0;
    position: relative;
}

.funParagraphDisplayed {
    padding: 3vmin 0 6vmin 0;
    /* color: rgb(11, 82, 11); */
    color: rgb(2, 109, 2);
    text-shadow: 1px 1px 2px tan;
    font-size: 6vmin;
    font-family: 'Permanent Marker', cursive;
    text-align: right;
    opacity: 70%;
}

.funParagraph {
    padding: 3vmin 0 6vmin 0;
    color: green;
    text-shadow: 1px 1px 3px tan;
    font-size: 6vmin;
    font-family: 'Permanent Marker', cursive;
    text-align: right;
    opacity: 70%;
    display: none;
}

/* .funParagraph:hover {
    color: tan;
    text-shadow: 1px 1px 3px black;
} */

h2,
h3 {
    padding: 14px 0px 14px 0px;
    text-shadow: 1px 1px 2px black;
}

.section-head {
    padding: 10px 0 0 0;
    text-decoration: underline;
    text-underline-offset: 1px;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    position: relative;
}

p {
    line-height: 1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-shadow: 0.5px 0.5px 2px black;
    padding: 4px 0px 4px 0px;
}

.flex-container1 {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    align-items: stretch;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    /* flex-basis: 100px; */
}

.flex-container2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* justify-content: center; */
}

article {
    /* flex-basis: 300px; */
    padding: 40px 0px 40px 0px;
    /* border: 2px solid gray; */
    /* border-radius: 30px; */
    width: 100%;
    min-height: 500px;
}

#art1 {
    background-color: rgb(128, 61, 61);
}

#art2 {
    background-color: rgb(102, 99, 50);
}

#art3 {
    background-color: darkslategrey;

}

.mountain {
    width: 100%;
    align-items: stretch;
    justify-content: stretch;
    text-align: center;
    padding: 0 0 40px 0;
}

.blurb {
    position: relative;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin: 40px 10% 40px 10%;
    padding: 10px;
    text-shadow: none;
    color: rgba(0, 0, 0, 0.8);
    /* box-shadow: 6px 6px 10px black; */
    /* text-shadow: 0.1px 0.1px 70px antiquewhite; */
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: rgba(250, 235, 215, 0.25);
    /*antique white plus opacity*/
    border-radius: 4px;
    min-height: 160px;
}

img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0;
    box-shadow: 6px 6px 14px black;
}

img:hover {
    transform: scale(1.0175);
}

.image-text-container {
    position: relative;
    text-align: center;
    margin: 0 10% 0% 10%;
    padding: 0;
}

.summary-details-container {
    position: relative;
    text-align: center;
    margin: 0 10% 0% 10%;
    padding: 0;
}

.image-text-img {
    height: 50vmin;
}

.image-text-txt {
    position: absolute;
    top: 9.5vmin;
    left: 50%;
    transform: translate(-50%, -50%);
    /**/
    margin: 0px;
    padding: 10px 10px 10px 10px;
    width: max-content;
    /*  */
    line-height: 1;
    color: black;
    opacity: 80%;
    text-shadow: 0.75px 0.75px 2px white;
    font-size: min(5vmin, 30px);
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 4px black;
}

.details-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* */
    margin: 0px;
    padding: 4px;
    width: max-content;
    visibility: hidden;
    /* */
    font-size: min(2vmin, 14px);
    background-color: rgba(0, 0, 0, 0.52);
    text-shadow: 4px 4px 4px black;
    border: 2px solid tan;
}

footer {
    margin: 40px 0;
}

#credit {
    text-align: center;
    color: tan;
    opacity: 60%;
    margin: 20px;
}

#copyright {
    text-align: center;
    color: orchid;
    margin: 20px;
}

@media (max-width: 1000px) {
    .flex-container1 {
        flex-direction: column;
    }

}